.common{
    text-align: center!important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
}

.header{
    height:100px!important;
    background-color:rgb(221, 52, 80)!important;
    color:whitesmoke!important;
    line-height: 100px!important;
}

.mainbody{
    background-color: rgb(255, 198, 209)!important;
    color:rgb(221, 52, 80)!important;
    text-align: center!important;
}

.footer{
    background-color: whitesmoke!important;
    color: rgb(255, 198, 209)!important;
    position:fixed!important;
    bottom:0px!important;
    left: 1px!important;
    right: 1px!important;
    height:25px!important;
    padding-top: 15px!important;
}

img{
    display:block!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: 25%!important;
}

nav{
    background-color: whitesmoke!important;
    padding: 15px!important;
    overflow: hidden!important;
}

nav a{
    font-size:16px!important;
    font-weight: bold!important;
    text-decoration: none!important;
    color: rgb(221, 52, 80)!important;
    padding:20px!important;
}

nav a:hover{
    background-color: #ccc!important;
}

.centered-list{
    text-align: center!important;
    padding-left: 0!important;
    list-style-position: inside!important;
}
